#Folders
/node_modules
/dist
/test
/certificate

#Files
.env
/src/modules/auth/auth.controller.spec.ts
/src/modules/auth/auth.service.spec.ts

/src/modules/users/users.controller.spec.ts
/src/modules/users/users.service.spec.ts

/src/modules/brands/brands.controller.spec.ts
/src/modules/brands/brands.service.spec.ts

/src/modules/categories/categories.controller.spec.ts
/src/modules/categories/categories.service.spec.ts

/src/modules/products/products.controller.spec.ts
/src/modules/products/products.service.spec.ts

/src/modules/health/health.controller.spec.ts
/src/modules/health/health.service.spec.ts

/src/seeds
